
<div >
<table width='100%'>
  <tbody>
    <tr style="height:25px" align='center' *ngFor="let item of items; let row = index">
      <ng-container *ngFor="let cell of item; let col = index">
        <td style="width:25px" style='background:{{getTileColor(row,col)}}'>{{getTileIcon(row,col)}}</td>
      </ng-container>
    </tr>
  </tbody>
</table>
</div>
<div>
<button  (click)="onClick()" >
Run</button> Current Instruction: {{instructionPtr}}

<p>
<textarea style="height: 100px"
[(ngModel)]="instructions"></textarea>
</p>
</div>